/**
 * @package 	WordPress
 * @subpackage 	Gutentag
 * @version 	1.0.0
 * 
 * Theme RTL Rules
 * Created by CMSMasters
 * 
 */


body{
    text-align: right;
}

div{
    text-align: right;
}

ul{
    padding-right: 0;
}

ul li:before{
    margin-left: 10px;
}

ul ul, ol ul, ul ol, ol ol{
    margin: 0 20px 0 0 ;
}

table td, table th{
    border-right-width: 1px;
    border-right-style: solid;
}

table td:last-child, table th:last-child{
    border-left-width: 1px;
    border-left-style: solid;
}

select{
    padding: 5px 10px 5px 40px ;
    background-position: 0% center;
}

select[multiple] option{
    padding-right: 0;
    padding-left: 0;
}

.cmsmasters_post_content ul li:before{
    margin-left: 10px;
}

blockquote{
    padding-right: 50px;
}

blockquote:before{
    right: 0;
}

blockquote.is-style-large{
    padding: 0 90px 0 0 ;
    text-align: left;
}

blockquote.is-style-large p{
    text-align: right;
}

blockquote.is-style-large:before{
    right: 0;
}

.wp-block-image figcaption{
    right: 0;
    left: 0;
}

.content_wrap .content ul:not(.wp-block-gallery):not(.kt-tabs-title-list) li{
    padding-right: 20px;
}

.content_wrap .content ul:not(.wp-block-gallery):not(.kt-tabs-title-list) li:before{
    right: 0;
}

nav > div > ul ul{
    right: 0;
}

nav > div > ul ul ul{
    margin: 0 20px 0 0 ;
    right: 100%;
}

.header_top nav > div > ul ul ul{
    margin: 0 20px 0 0 ;
}

.header_bot nav > div > ul ul ul{
    margin: 0 20px 0 0 ;
}

nav > div > ul li.menu-item-dropdown-right{
    text-align: left;
}

nav > div > ul li.menu-item-dropdown-right *{
    text-align: left;
}

nav > div > ul li.menu-item-dropdown-right > ul{
    right: auto;
    left: 0;
}

nav > div > ul li.menu-item-dropdown-right > ul ul{
    margin: 0 0 0 20px ;
    right: auto;
    left: 100%;
}

.header_bot nav > div > ul li.menu-item-dropdown-right > ul ul{
    margin: 0 0 0 20px ;
}

nav > div > ul li.menu-item-dropdown-right > div.menu-item-mega-container{
    right: auto;
    left: 0;
}

nav > div > ul li.menu-item-dropdown-right > div.menu-item-mega-container ul{
    left: auto;
}

nav > div > ul li:hover > ul:before{
    right: 0;
}

nav > div > ul li:hover > div.menu-item-mega-container:before{
    right: 0;
}

nav > div > ul li li:hover > ul{
    margin: 0 2px 0 0 ;
}

.header_top nav > div > ul li li:hover > ul{
    margin: 0 2px 0 0 ;
}

.header_bot nav > div > ul li li:hover > ul{
    margin: 0 2px 0 0 ;
}

nav > div > ul li li:hover > ul:before{
    right: -3px;
}

.header_top nav > div > ul li li:hover > ul:before{
    right: -3px;
}

.header_bot nav > div > ul li li:hover > ul:before{
    right: -3px;
}

nav > div > ul li.menu-item-dropdown-right li:hover > ul{
    margin: 0 0 0 2px ;
}

.header_bot nav > div > ul li.menu-item-dropdown-right li:hover > ul{
    margin: 0 0 0 2px ;
}

nav > div > ul li.menu-item-dropdown-right li:hover > ul:before{
    right: auto;
    left: -3px;
}

.header_bot nav > div > ul li.menu-item-dropdown-right li:hover > ul:before{
    left: -3px;
}

nav > div > ul .nav_title[class^="cmsmasters-icon-"]:before, nav > div > ul .nav_title[class*=" cmsmasters-icon-"]:before{
    margin: 0 0 0 .5em ;
}

nav > div > ul > li{
    float: right;
    border-left-width: 1px;
    border-left-style: solid;
}

nav > div > ul > li:last-child{
    border-left-width: 0;
    border-left-style: solid;
}

nav > div > ul li.menu-item-mega ul{
    right: auto;
    left: auto;
}

nav > div > ul > li div.menu-item-mega-container{
    right: 0;
}

nav > div > ul > li div.menu-item-mega-container > ul.sub-menu li ul{
    right: auto;
}

nav > div > ul > li div.menu-item-mega-container > ul.sub-menu > li{
    padding-right: 40px;
    border-left-width: 1px;
    border-left-style: solid;
}

nav > div > ul > li div.menu-item-mega-container > ul.sub-menu > li:first-child{
    padding-right: 0;
}

nav > div > ul > li div.menu-item-mega-container > ul.sub-menu > li:last-child{
    border-left-width: 0;
    border-left-style: solid;
}

nav > div > ul > li div.menu-item-mega-container > ul{
    margin-right: 0;
    margin-left: 0;
}

.alignleft, .fl{
    float: right;
}

.alignright, .fr{
    float: left;
}

img.alignleft, img.fl{
    margin-left: 20px;
}

img.alignright, img.fr{
    margin-right: 20px;
}

.tal, .ta_left{
    text-align: right;
}

.tar, .ta_right{
    text-align: left;
}

.one_first, .one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .one_sixth{
    float: right;
}

.cmsmasters_row.cmsmasters_row_top_left_diagonal:before, .cmsmasters_row.cmsmasters_row_bot_left_diagonal:after{
    right: auto;
    left: 0;
}

.cmsmasters_row.cmsmasters_row_top_right_diagonal:before, .cmsmasters_row.cmsmasters_row_bot_right_diagonal:after{
    right: 0;
    left: auto;
}

.cmsmasters_row.cmsmasters_row_top_zigzag:before, .cmsmasters_row.cmsmasters_row_bot_zigzag:after{
    right: 0;
    left: 0;
}

.cmsmasters_row.cmsmasters_row_top_triangle:before, .cmsmasters_row.cmsmasters_row_bot_triangle:after{
    right: 0;
    left: 0;
}

.cmsmasters_row .cmsmasters_row_overlay{
    right: 0;
}

.content_wrap.fullwidth .alignwide{
    margin-right: calc((100vw - 1179px)/2 * -1);
    margin-left: calc((100vw - 1179px)/2 * -1);
}

.content_wrap.fullwidth .ghostkit-col .alignwide{
    margin-right: inherit;
    margin-left: inherit;
}

.bottom_inner aside{
    float: right;
}

.cmsmasters_prev_arrow_pixel, .cmsmasters_next_arrow_pixel{
    right: 0;
    left: auto;
}

.cmsmasters_prev_arrow_pixel:before, .cmsmasters_next_arrow_pixel:before{
    right: 1px;
}

.cmsmasters_prev_arrow_pixel:after, .cmsmasters_next_arrow_pixel:after{
    right: 2px;
}

.cmsmasters_prev_arrow_pixel span:before, .cmsmasters_next_arrow_pixel span:before{
    right: 3px;
}

.cmsmasters_prev_arrow_pixel span:after, .cmsmasters_next_arrow_pixel span:after{
    right: 4px;
}

.cmsmasters_next_arrow_pixel{
    left: 0;
    right: auto;
}

.cmsmasters_next_arrow_pixel:before{
    right: auto;
    left: 1px;
}

.cmsmasters_next_arrow_pixel:after{
    right: auto;
    left: 2px;
}

.cmsmasters_next_arrow_pixel span:before{
    right: auto;
    left: 3px;
}

.cmsmasters_next_arrow_pixel span:after{
    right: auto;
    left: 4px;
}

.cmsmasters_top_arrow_pixel, .cmsmasters_bot_arrow_pixel{
    right: 0;
    left: 0;
}

.cmsmasters_top_arrow_pixel:before, .cmsmasters_bot_arrow_pixel:before, .cmsmasters_top_arrow_pixel:after, .cmsmasters_bot_arrow_pixel:after, .cmsmasters_top_arrow_pixel span:before, .cmsmasters_bot_arrow_pixel span:before, .cmsmasters_top_arrow_pixel span:after, .cmsmasters_bot_arrow_pixel span:after{
    border-right-width: 1px;
    border-right-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
}

.cmsmasters_top_arrow_pixel:before, .cmsmasters_bot_arrow_pixel:before{
    right: -1px;
}

.cmsmasters_top_arrow_pixel:after, .cmsmasters_bot_arrow_pixel:after{
    right: -2px;
}

.cmsmasters_top_arrow_pixel span:before, .cmsmasters_bot_arrow_pixel span:before{
    right: -3px;
}

.cmsmasters_top_arrow_pixel span:after, .cmsmasters_bot_arrow_pixel span:after{
    right: -4px;
}

.post-password-form input[type=submit]{
    margin: 0 5px 0 0 ;
}

.preloader .full-width{
    right: 0;
}

.preloader.highImg .full-width{
    right: auto;
}

.resizable_block .full-width{
    right: 0;
}

.cmsmasters_img_wrap .img_placeholder{
    right: 0;
}

.cmsmasters_img_wrap .img_placeholder:before{
    right: 0;
    left: 0;
}

.cmsmasters_img_rollover_wrap .img_placeholder{
    right: 0;
}

.cmsmasters_img_rollover_wrap .img_placeholder:before{
    right: 0;
    left: 0;
}

.cmsmasters_img_rollover_wrap .cmsmasters_img_rollover{
    right: 0;
}

.cmsmasters_img_rollover_wrap .cmsmasters_img_rollover .cmsmasters_open_link, .cmsmasters_img_rollover_wrap .cmsmasters_img_rollover .cmsmasters_image_link{
    right: 0;
}

.img_placeholder_small:before{
    right: 0;
    left: 0;
}

.cmsmasters_video_wrap > div{
    right: 0;
}

.cmsmasters_video_wrap iframe{
    right: 0;
}

.cmsmasters_video_wrap .wp-video-shortcode, .cmsmasters_video_wrap .mejs-layer{
    right: 0;
}

#middle .search_bar_wrap .search_field input, #bottom .search_bar_wrap .search_field input{
    padding-right: 20px;
    padding-left: 36px;
}

.search_bar_wrap .search_button{
    right: auto;
    left: 0;
}

.search_bar_wrap .search_button button:before{
    right: 0;
    left: 10px;
}

.social_wrap li{
    margin: 0 0 0 5px ;
}

.social_wrap a:before{
    right: 0;
    left: 0;
}

.owl-carousel .owl-wrapper-outer .owl-wrapper .owl-item{
    float: right;
}

.owl-pagination{
    right: 0;
}

.owl-buttons{
    right: 0;
}

#slide_top{
    left: 20px;
}

.cmsmasters_likes a, .cmsmasters_comments a{
    padding: 0 1px 0 0 ;
}

.cmsmasters_likes a span, .cmsmasters_comments a span{
    margin: 0 5px 0 0 ;
}

.cmsmasters_items_filter_wrap .cmsmasters_items_sort_block{
    float: left;
}

.cmsmasters_items_filter_wrap .cmsmasters_items_sort_but{
    margin: 0 5px 0 0 ;
    float: right;
}

.cmsmasters_items_filter_wrap .cmsmasters_items_filter_but{
    float: left;
}

.cmsmasters_items_filter_wrap .cmsmasters_items_filter_list{
    padding: 0 0 0 20px ;
    text-align: left;
}

.cmsmasters_wrap_more_items.cmsmasters_loading:before{
    right: 0;
    left: 0;
}

div.subpage_nav > strong{
    padding: 0 0 0 5px ;
}

.cmsmasters_wrap_pagination ul li .page-numbers.prev{
    margin-left: 25px;
}

.cmsmasters_wrap_pagination ul li .page-numbers.next{
    margin-right: 25px;
}

.post_nav:before{
    right: 50%;
}

.post_nav > span.cmsmasters_prev_post{
    float: right;
}

.post_nav > span.cmsmasters_prev_post a{
    padding: 0 67px 0 0 ;
}

.post_nav > span.cmsmasters_prev_post > span{
    right: 1px;
    left: auto;
}

.post_nav > span.cmsmasters_next_post{
    text-align: left;
    float: left;
}

.post_nav > span.cmsmasters_next_post a{
    padding: 0 0 0 67px ;
}

.post_nav > span.cmsmasters_next_post > span{
    right: auto;
    left: 1px;
}

.cmsmasters_prev_post + .cmsmasters_next_post{
    border-right-width: 0 !important;
    border-right-style: solid !important;
}

.share_posts a{
    margin: 0 0 0 30px ;
}

.share_posts a:last-child{
    margin-right: 0;
    margin-left: 0;
}

.about_author .about_author_title:after{
    right: 0;
}

.about_author .about_author_avatar{
    margin: 0 0 0 50px ;
    float: right;
}

.cmsmasters_single_slider .cmsmasters_single_slider_title:after{
    right: 0;
}

.cmsmasters_pings_list .pingslist .pingback{
    padding: 8px 0 8px 50px ;
}

.cmsmasters_pings_list .pingslist .pingback .comment-body .edit-link{
    right: auto;
    left: 0;
}

.post_comments .post_comments_title:after{
    right: 0;
}

.post_comments .cmsmasters_comment_footer .comment-reply-link{
    margin-left: 10px;
}

.comments_nav .comments_nav_prev{
    float: right;
}

.comments_nav .comments_nav_next{
    float: left;
}

.commentlist .children{
    padding: 0 20px 0 0 ;
}

.cmsmasters_comment_item .cmsmasters_comment_item_avatar{
    margin-left: 25px;
    float: right;
}

.cmsmasters_comment_item .cmsmasters_comment_item_title:after{
    margin-right: 4px;
}

.comment-respond .comment-reply-title:after{
    right: 0;
}

.comment-respond .comment-reply-title small{
    float: left;
}

.comment-respond .comment-form .comment-form-author, .comment-respond .comment-form .comment-form-email{
    float: right;
}

.comment-respond .comment-form-author, .comment-respond .comment-form-email{
    float: right;
    text-align: right;
}

.comment-respond .comment-form-comment{
    text-align: right;
}

.comment-respond .comment-form-cookies-consent{
    text-align: right;
}

.comment-respond .comment-form-cookies-consent input{
    float: right;
}

.comment-respond .comment-form-cookies-consent label{
    margin: 0 10px 0 0 ;
}

.comment-respond .form-submit{
    text-align: right;
}

.header_top .header_top_but > span{
    right: 0;
    left: 0;
}

.header_top .social_wrap{
    float: left;
}

.header_top .social_wrap li{
    margin-right: 0;
    margin-left: 13px;
}

.header_top .social_wrap li:last-child{
    margin-right: 0;
    margin-left: 0;
}

.header_top .top_nav_wrap{
    float: left;
}

.header_top .responsive_top_nav:before{
    right: 0;
    left: 0;
}

.header_top .header_top_meta{
    padding: 0 0 0 20px ;
}

.header_top .meta_wrap > *{
    margin: 0 0 0 10px ;
}

.header_top .meta_wrap > *[class^="cmsmasters-icon-"]:before, .header_top .meta_wrap > *[class*=" cmsmasters-icon-"]:before, .header_top .meta_wrap > *[class^="cmsmasters_theme_icon_"]:before, .header_top .meta_wrap > *[class*=" cmsmasters_theme_icon_"]:before{
    margin-right: 0;
    margin-left: 0.5em;
}

.header_top nav > div > ul > li{
    margin-left: 25px;
}

.header_top nav > div > ul > li:last-child{
    margin-left: 0;
}

.header_top nav > div > ul > li ul{
    right: auto;
}

.header_top nav > div > ul > li ul li:hover > ul{
    margin: 0 22px 0 0 ;
}

.header_top nav > div > ul > li ul ul{
    right: 100%;
}

.header_mid .logo_wrap{
    float: right;
}

.header_mid .logo_wrap .title_text{
    padding: 0 3px 0 0 ;
}

.header_mid .logo_wrap .logo img{
    right: 0;
    left: auto;
}

.enable_header_centered .header_mid .logo_wrap .logo img{
    right: 0;
    left: 0;
}

.header_mid .resp_mid_nav_wrap{
    margin: 0 6px 0 0 ;
    float: left;
}

.header_mid .resp_mid_nav_wrap .resp_mid_nav:before{
    right: 0;
    left: 0;
}

.header_mid .mid_search_but_wrap{
    margin: 0 20px 0 0 ;
    float: left;
}

.header_mid .mid_search_but_wrap .mid_search_but:before{
    right: 0;
    left: 0;
}

.header_mid .social_wrap .social_wrap_inner{
    text-align: left;
}

.header_mid .social_wrap li{
    margin-right: 0;
    margin-left: 13px;
}

.header_mid .social_wrap li:last-child{
    margin-right: 0;
    margin-left: 0;
}

.header_mid .slogan_wrap .slogan_wrap_inner{
    padding: 0 20px 0 0 ;
    text-align: left;
}

.header_mid .slogan_wrap .slogan_wrap_text > *{
    margin: 0 0 0 10px ;
}

.header_mid .slogan_wrap .slogan_wrap_text > *[class^="cmsmasters-icon-"]:before, .header_mid .slogan_wrap .slogan_wrap_text > *[class*=" cmsmasters-icon-"]:before, .header_mid .slogan_wrap .slogan_wrap_text > *[class^="cmsmasters_theme_icon_"]:before, .header_mid .slogan_wrap .slogan_wrap_text > *[class*=" cmsmasters_theme_icon_"]:before{
    margin-right: 0;
    margin-left: 0.5em;
}

.header_mid .mid_nav_wrap{
    float: left;
}

.header_mid .mid_nav_wrap nav > div > ul li li:hover > ul{
    margin: 0px 30px 0 0 ;
}

.header_mid .mid_nav_wrap nav > div > ul li li:hover > ul:before{
    right: -33px;
}

.header_mid .mid_nav_wrap nav > div > ul li .nav_tag{
    margin-right: 5px;
}

.header_mid .mid_nav_wrap nav > div > ul > li:first-child{
    margin-right: 0;
}

.header_mid .mid_nav_wrap nav > div > ul > li:last-child{
    margin-left: 0;
}

.header_mid .mid_nav_wrap nav > div > ul > li a:after{
    right: 0;
}

.header_mid .mid_nav_wrap nav > div > ul > li ul{
    right: auto;
}

.header_mid .mid_nav_wrap nav > div > ul > li ul li.menu-item-has-children > a:after{
    left: 0;
    right: auto;
}

.header_mid .mid_nav_wrap nav > div > ul > li ul li ul{
    right: 100%;
}

.enable_header_centered .header_bot .bot_search_but_wrap a{
    margin-right: 40px;
}

.header_bot .resp_bot_nav_wrap .resp_bot_nav:before{
    right: 0;
    left: 0;
}

.header_bot .bot_nav_wrap{
    float: right;
}

.enable_header_right .header_bot .bot_nav_wrap{
    float: left;
}

.header_bot .bot_nav_wrap nav > div > ul li li:hover > ul{
    margin: 0px 30px 0 0 ;
}

.header_bot .bot_nav_wrap nav > div > ul li li:hover > ul:before{
    right: -33px;
}

.header_bot .bot_nav_wrap nav > div > ul li .nav_tag{
    margin-right: 5px;
}

.header_bot .bot_nav_wrap nav > div > ul > li:first-child{
    margin-right: 0;
}

.header_bot .bot_nav_wrap nav > div > ul > li:last-child{
    margin-left: 0;
}

.header_bot .bot_nav_wrap nav > div > ul > li a:after{
    right: 0;
}

.header_bot .bot_nav_wrap nav > div > ul > li ul{
    right: auto;
}

.header_bot .bot_nav_wrap nav > div > ul > li ul li.menu-item-has-children > a:after{
    left: 0;
    right: auto;
}

.header_bot .bot_nav_wrap nav > div > ul > li ul li ul{
    right: 100%;
}

.cmsmasters_header_search_form .cmsmasters_header_search_form_close{
    right: auto;
    left: 50px;
}

.cmsmasters_header_search_form .cmsmasters_header_search_form_close:before{
    right: 0;
    left: 0;
}

.cmsmasters_header_search_form .cmsmasters_header_search_form_field{
    right: 0;
    left: 0;
}

.cmsmasters_header_search_form input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]){
    padding: 0 30px 0 85px ;
}

.cmsmasters_header_search_form button{
    right: auto;
    left: 0;
}

.cmsmasters_header_search_form button:before{
    right: 0;
    left: 0;
}

.headline_outer .headline_color{
    right: 0;
}

.headline_outer .headline_inner:after{
    right: 20px;
    left: 20px;
}

.headline_outer .headline_inner .headline_text:before{
    right: 0;
    left: 0;
}

.headline_outer .headline_inner.align_left{
    text-align: right;
}

.headline_outer .headline_inner.align_left .headline_inner_border{
    text-align: right;
}

.headline_outer .headline_inner.align_left .headline_text{
    text-align: right;
}

.headline_outer .headline_inner.align_left .headline_text:before{
    left: auto;
}

.headline_outer .headline_inner.align_right{
    text-align: left;
}

.headline_outer .headline_inner.align_right .headline_inner_border{
    text-align: left;
}

.headline_outer .headline_inner.align_right .headline_text{
    text-align: left;
}

.headline_outer .headline_inner.align_right .headline_text:before{
    right: auto;
}

.headline_outer .headline_inner.align_right .cmsmasters_breadcrumbs{
    text-align: left;
}

.cmsmasters_footer_default .social_wrap li{
    margin-right: 0;
    margin-left: 25px;
}

.cmsmasters_footer_default .social_wrap li:last-child{
    margin-right: 0;
    margin-left: 0;
}

.cmsmasters_footer_small .footer_nav_wrap{
    float: left;
}

.cmsmasters_footer_small .footer_nav > li{
    margin: 0 0 0 25px ;
}

.cmsmasters_footer_small .social_wrap{
    float: left;
}

.cmsmasters_footer_small .social_wrap li{
    margin-right: 0;
    margin-left: 13px;
}

.cmsmasters_footer_small .social_wrap li:last-child{
    margin-right: 0;
    margin-left: 0;
}

.cmsmasters_footer_small .footer_custom_html_wrap{
    float: left;
}

.cmsmasters_footer_small .footer_copyright{
    padding: 1px 0 1px 20px ;
}

.blog.columns .post{
    float: right;
}

.blog.timeline:before{
    right: 0;
    left: 0;
}

.blog.timeline .post{
    float: right;
}

.blog.timeline .post:before{
    right: 0;
    left: 0;
}

.blog.timeline .post.cmsmasters_timeline_left .cmsmasters_timeline_margin{
    margin-left: 16%;
}

.blog.timeline .post.cmsmasters_timeline_right .cmsmasters_timeline_margin{
    margin-right: 16%;
}

.blog .owl-pagination{
    right: auto;
    left: 10px;
}

.cmsmasters_post_default .cmsmasters_post_cont_info .cmsmasters_post_info, .cmsmasters_post_default .cmsmasters_post_cont_info .cmsmasters_post_author{
    margin-right: 30px;
}

.cmsmasters_post_timeline.cmsmasters_timeline_left .cmsmasters_post_info{
    right: auto;
    left: -37px;
}

.cmsmasters_post_timeline.cmsmasters_timeline_right .cmsmasters_post_info{
    right: -37px;
    left: auto;
}

.cmsmasters_open_post .cmsmasters_post_cont_info > span{
    margin-left: 30px;
}

.cmsmasters_open_post .cmsmasters_post_cont_info > span:last-child{
    margin-left: 0;
}

.cmsmasters_open_post .cmsmasters_post_cont_info > span.cmsmasters_post_category a, .cmsmasters_open_post .cmsmasters_post_cont_info > span.cmsmasters_post_category span{
    margin-right: 4px;
}

.cmsmasters_open_post .cmsmasters_post_cont_info > span.cmsmasters_post_category a:first-child, .cmsmasters_open_post .cmsmasters_post_cont_info > span.cmsmasters_post_category span:first-child{
    margin-right: 0;
}

.portfolio .cmsmasters_project_grid, .portfolio .cmsmasters_project_puzzle{
    float: right;
}

.portfolio.large_gap .project{
    padding-right: 10px;
    padding-left: 10px;
}

.portfolio.small_gap .project .project_outer{
    margin-right: 0;
    margin-left: 1px;
}

.cmsmasters_project_puzzle .project_inner{
    right: 0;
}

.cmsmasters_open_project .owl-pagination{
    right: auto;
    left: 10px;
}

.cmsmasters_open_project .project_content.with_sidebar{
    float: right;
}

.cmsmasters_open_project .project_sidebar{
    padding: 40px 40px 0 0 ;
    float: left;
}

.cmsmasters_open_project .project_details_item_title, .cmsmasters_open_project .project_features_item_title{
    float: right;
}

.cmsmasters_open_project .project_details_item_desc, .cmsmasters_open_project .project_features_item_desc{
    padding: 0 15px 0 0 ;
    text-align: left;
}

.cmsmasters_open_project .project_details_one_item .project_details_item_desc, .cmsmasters_open_project .project_features_one_item .project_features_item_desc{
    padding-right: 0;
    padding-left: 0;
}

.cmsmasters_profile.horizontal .cmsmasters_profile_horizontal.one_half:nth-child(2n+1), .cmsmasters_profile.horizontal .cmsmasters_profile_horizontal.one_third:nth-child(3n+1), .cmsmasters_profile.horizontal .cmsmasters_profile_horizontal.one_fourth:nth-child(4n+1){
    clear: right;
}

.cmsmasters_profile_horizontal .profile_social_icons_list a:before{
    right: 0;
    left: 0;
}

.cmsmasters_profile_vertical{
    padding: 0 0 0 34% ;
}

.cmsmasters_profile_vertical:nth-child(even){
    padding: 0 34% 0 0 ;
}

.cmsmasters_profile_vertical .cmsmasters_img_wrap{
    padding: 0 0 0 40px ;
}

.cmsmasters_profile_vertical .profile_social_icons_list a:before{
    right: 0;
    left: 0;
}

.cmsmasters_open_profile .profile_content.with_sidebar{
    float: right;
}

.cmsmasters_open_profile .profile_sidebar{
    padding: 40px 40px 0 0 ;
    float: left;
}

.cmsmasters_open_profile .profile_details_item_title, .cmsmasters_open_profile .profile_features_item_title{
    float: right;
}

.cmsmasters_open_profile .profile_details_item_desc, .cmsmasters_open_profile .profile_features_item_desc{
    padding: 0 15px 0 0 ;
    text-align: left;
}

.cmsmasters_open_profile .profile_details_one_item .profile_details_item_desc, .cmsmasters_open_profile .profile_features_one_item .profile_features_item_desc{
    padding-right: 0;
    padding-left: 0;
}

.cmsmasters_open_profile .profile_social_icons_list a:before{
    right: 0;
    left: 0;
}

.cmsmasters_divider.cmsmasters_divider_width_short.cmsmasters_divider_pos_center{
    right: 40%;
}

.cmsmasters_divider.cmsmasters_divider_width_short.cmsmasters_divider_pos_right{
    right: 80%;
}

.cmsmasters_divider.cmsmasters_divider_width_medium.cmsmasters_divider_pos_center{
    right: 30%;
}

.cmsmasters_divider.cmsmasters_divider_width_medium.cmsmasters_divider_pos_right{
    right: 60%;
}

.cmsmasters_heading_wrap.cmsmasters_heading_divider_short .cmsmasters_heading_divider_left{
    margin-right: -10%;
    margin-left: 0;
}

.cmsmasters_heading_wrap.cmsmasters_heading_divider_medium .cmsmasters_heading_divider_left{
    margin-right: -20%;
    margin-left: 0;
}

.cmsmasters_heading_wrap.cmsmasters_heading_divider_long .cmsmasters_heading_divider_left{
    margin-right: -100%;
    margin-left: 0;
}

.cmsmasters_heading_wrap .cmsmasters_heading:before, .cmsmasters_heading_wrap .cmsmasters_heading a:before{
    margin-right: 0;
    margin-left: 0.5em;
}

.cmsmasters_featured_block .featured_block_link{
    right: 0;
}

.cmsmasters_table tr td.cmsmasters_table_cell_alignleft, .cmsmasters_table tr th.cmsmasters_table_cell_alignleft{
    text-align: right;
}

.cmsmasters_table tr td.cmsmasters_table_cell_alignright, .cmsmasters_table tr th.cmsmasters_table_cell_alignright{
    text-align: left;
}

.mailpoet_form form > p:first-of-type input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]){
    padding-left: 170px;
}

.widget.widget_mailpoet_form .mailpoet_form form > p:first-of-type input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]){
    padding-left: 8px;
}

.mailpoet_form form > p:last-of-type{
    left: 5px;
}

.widget.widget_mailpoet_form .mailpoet_form form > p:last-of-type{
    left: 0;
}

.cmsmasters_hover_slider .cmsmasters_hover_slider_items li{
    right: 0;
}

.cmsmasters_hover_slider .cmsmasters_hover_slider_thumbs a:before{
    right: 0;
}

.cmsmasters_content_slider .owl-buttons > div:before{
    right: 0;
}

.cmsmasters_content_slider .owl-buttons > div.owl-prev{
    right: 0;
    left: auto;
}

.cmsmasters_content_slider .owl-buttons > div.owl-next{
    right: auto;
    left: 0;
}

.cmsmasters_gallery{
    margin: 0 -10px 0 0 ;
}

.cmsmasters_gallery .cmsmasters_gallery_item{
    padding: 0 10px 10px 0 ;
    float: right;
}

.resizable_block .google_map{
    right: 0;
}

.wp-caption.aligncenter{
    margin-right: auto;
    margin-left: auto;
}

.wp-caption.alignleft{
    margin-left: 25px;
}

.wp-caption.alignright{
    margin-right: 25px;
}

.ghostkit-tabs .ghostkit-tabs-buttons > .ghostkit-tabs-buttons-item:after{
    right: 0;
}

.ghostkit-accordion .ghostkit-accordion-item .ghostkit-accordion-item-heading .ghostkit-accordion-item-label:after{
    right: 0;
}

.ghostkit-carousel .ghostkit-carousel-arrow-prev{
    right: 0px;
    left: 50px;
}

.ghostkit-carousel .ghostkit-carousel-arrow-next{
    right: 50px;
    left: 0px;
}

.ghostkit-counter-box .ghostkit-counter-box-number:after{
    right: 0;
}

.wp-block-kadence-tabs .kt-tabs-title-list > .kt-title-item a:after{
    right: 0;
}

.gallery .gallery-item{
    float: right;
}

.cmsmasters_sidebar aside{
    float: right;
}

.share_wrap{
    float: right;
    margin-left: 20px;
}

.share_wrap:last-child{
    margin-left: 0;
}

.social_vertical .share_wrap{
    margin-left: 0;
}

.cmsmasters_twitter_wrap .owl-buttons{
    right: auto;
    left: 0;
}

.cmsmasters_twitter_wrap .twr_icon{
    right: 0;
    left: auto;
}

.cmsmasters_twitter_wrap .cmsmasters_twitter_item{
    padding: 5px 135px 5px 80px ;
}

.cmsmasters_twitter_wrap .published{
    right: 30px;
    left: auto;
}

.cmsmasters_dropcap{
    margin: 5px 23px 5px 33px ;
    float: right;
}

.cmsmasters_dropcap.type2{
    margin: 5px 0 5px 25px ;
}

.cmsmasters_clients_grid .cmsmasters_clients_item{
    float: right;
}

.widget .widgettitle:after{
    right: 0;
}

.widget_custom_advertisement_entries .adv_image_wrap .adv_widget_image{
    float: right;
}

.widget_pages ul ul, .widget_categories ul ul, .widget_archive ul ul, .widget_meta ul ul, .widget_recent_comments ul ul, .widget_recent_entries ul ul{
    padding: 4px 10px 0 0 ;
}

#wp-calendar caption{
    text-align: right;
}

#wp-calendar tfoot td{
    text-align: right;
}

#wp-calendar tfoot td:last-of-type{
    text-align: left;
}

.widget_custom_contact_info_entries > span, .widget_custom_contact_info_entries .adress_wrap{
    padding: 0 25px 0 0 ;
}

.widget_custom_contact_info_entries > span:before, .widget_custom_contact_info_entries .adress_wrap:before{
    right: 0;
    left: auto;
}

.widget_nav_menu .menu ul{
    padding: 0 10px 0 0 ;
}

.widget_custom_flickr_entries .flickr_badge_image{
    float: right;
}

.widget_custom_popular_projects_entries .widgettitle, .widget_custom_latest_projects_entries .widgettitle{
    padding: 0 0 0 70px ;
}

.widget_custom_popular_projects_entries .widgettitle + .widget_custom_projects_entries_slides .owl-buttons, .widget_custom_latest_projects_entries .widgettitle + .widget_custom_projects_entries_slides .owl-buttons{
    right: auto;
    left: 0;
}

.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tabs_list_item:first-child a{
    padding-right: 0;
}

.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tabs_list_item:last-child a{
    padding-left: 0;
}

.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_lpr_tabs_img{
    margin-left: 20px;
    right: 0;
    left: auto;
}

.widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_lpr_tabs_cont{
    padding: 0 80px 0 0 ;
}

.widget_tag_cloud a{
    margin: 0 0 4px 4px ;
}

.widget_custom_twitter_entries .tweet_time{
    padding: 0 35px 0 0 ;
    right: 0;
}

.widget_custom_twitter_entries .tweet_time:before{
    right: 0;
    left: auto;
}

.content .cmsmasters_search .cmsmasters_search_zero, .content .cmsmasters_archive .cmsmasters_search_zero{
    text-align: right;
}

.cmsmasters_archive_type .cmsmasters_archive_item_img_wrap{
    margin: 0 0 0 30px ;
    float: right;
}

.cmsmasters_archive_type .cmsmasters_archive_item_info > span{
    margin-left: 30px;
}

.cmsmasters_archive_type .cmsmasters_archive_item_info .cmsmasters_archive_item_category{
    margin-left: 30px;
}

.cmsmasters_archive_type .cmsmasters_archive_item_info:before{
    right: 0;
}

.cmsmasters_archive_type .cmsmasters_archive_item_user_name{
    padding: 0 0 0 10px ;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li:before{
    right: 0;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > ul > li{
    padding-left: 20px;
    float: right;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > ul > li > ul li{
    margin-right: 20px;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > ul > li > ul > li{
    margin-right: 0;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap_category > li{
    padding-left: 20px;
    float: right;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap_category > li > ul li{
    margin-right: 20px;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap_category > li > ul > li{
    margin-right: 0;
}

.cmsmasters_sitemap_wrap .cmsmasters_sitemap_archive > li{
    padding-left: 20px;
    float: right;
}

.cmsmasters_attach_img .cmsmasters_attach_img_edit{
    float: left;
}

.wpcf7-list-item-label, body .cmsmasters-form-builder .check_parent input[type="checkbox"] + label, body .cmsmasters-form-builder .check_parent input[type="radio"] + label{
    padding-right: 25px;
    padding-left: 0;
    float: right;
}

.cmsmasters-form-builder .check_parent input[type="checkbox"], .cmsmasters-form-builder .check_parent input[type="radio"], .wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"], .wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"]{
    float: right;
    right: 0;
    left: auto;
}

.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"] + span.wpcf7-list-item-label:before, .cmsmasters-form-builder .check_parent input[type="checkbox"] + label:before, .wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] + span.wpcf7-list-item-label:before, .cmsmasters-form-builder .check_parent input[type="radio"] + label:before{
    right: 1px;
    left: auto;
}

.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"] + span.wpcf7-list-item-label:after, .cmsmasters-form-builder .check_parent input[type="checkbox"] + label:after, .wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] + span.wpcf7-list-item-label:after, .cmsmasters-form-builder .check_parent input[type="radio"] + label:after{
    right: 5px;
    left: auto;
}

@media only screen and (max-width: 1024px){
    .cmsmasters_profile.horizontal .cmsmasters_profile_horizontal.one_fourth:nth-child(2n+1){
        clear: right;
    }

    #header nav div,  #header nav ul,  #header nav li,  #header nav a,  #header nav span{
        right: auto;
        left: auto;
        text-align: right;
    }

    .cmsmasters_14141414 > .cmsmasters_column:nth-child(2n + 1){
        clear: right;
    }

    .sidebar_layout_14141414 aside:nth-child(2n+1){
        clear: right;
    }

    .enable_header_centered #header .header_bot .bot_search_but_wrap a{
        margin-right: 0;
    }

    .enable_header_centered #header .header_bot .bot_nav_wrap .bot_search_but_wrap{
        margin-right: 20px;
    }

    #header .navigation li li > a{
        padding-right: 50px;
        padding-left: 0;
    }

    #header .navigation li li li > a{
        padding-right: 70px;
        padding-left: 0;
    }

    #header .navigation .nav_tag{
        margin: 0 10px 0 0 ;
    }

    #header .navigation .cmsmasters_resp_nav_toggle{
        margin: -3px 15px 0 0 ;
        float: left;
    }

    #header .navigation .menu-item-mega-container{
        right: auto !important;
        left: auto !important;
    }

}

@media only screen and (max-width: 950px){
    .content_wrap.l_sidebar .cmsmasters_row,  .content_wrap.r_sidebar .cmsmasters_row{
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .content,  .sidebar{
        padding-right: 0;
        padding-left: 0;
    }

    .cmsmasters_open_project .project_sidebar{
        padding-right: 0;
        padding-left: 0;
    }

    .cmsmasters_open_profile .profile_sidebar{
        padding-right: 0;
        padding-left: 0;
    }

}

@media only screen and (max-width: 768px){
    #header .header_mid .mid_search_but_wrap{
        margin: 0 30px 0 0 ;
    }

    .enable_header_centered #header .header_bot .bot_search_but_wrap,  .enable_header_bottom #header .header_bot .bot_search_but_wrap{
        margin-right: 25px;
    }

    .cmsmasters_header_search_form .cmsmasters_header_search_form_field input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]){
        padding-left: 80px;
    }

    .blog.timeline .post{
        right: auto !important;
        left: auto !important;
    }

    .blog.timeline .post.cmsmasters_timeline_left .cmsmasters_timeline_margin,  .blog.timeline .post.cmsmasters_timeline_right .cmsmasters_timeline_margin{
        margin-right: 0;
        margin-left: 0;
    }

}

@media only screen and (max-width: 600px){
    .cmsmasters_archive_type .cmsmasters_archive_item_img_wrap{
        margin-left: 0;
    }

    .cmsmasters_archive_type .cmsmasters_archive_item_info > span{
        margin-left: 0;
    }

    .cmsmasters_post_cont_info > span,  .cmsmasters_post_cont_info > div{
        margin-right: 0;
        margin-left: 0;
    }

    .cmsmasters_post_cont_info .cmsmasters_post_info,  .cmsmasters_post_cont_info .cmsmasters_post_author{
        margin-right: 0;
    }

    .cmsmasters_wrap_pagination ul li .page-numbers.prev{
        margin-left: 10px;
    }

    .cmsmasters_wrap_pagination ul li .page-numbers.next{
        margin-right: 10px;
    }

}

@media only screen and (max-width: 540px){
    .cmsmasters_header_search_form .cmsmasters_header_search_form_field input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]){
        padding-left: 75px;
    }

    .mailpoet_form form > p:first-of-type input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]){
        padding-left: 20px;
    }

}